In [1]:
library(palmerpenguins)
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
penguins

    species   island    bill_length_mm bill_depth_mm flipper_length_mm
1   Adelie    Torgersen 39.1           18.7          181
2   Adelie    Torgersen 39.5           17.4          186
3   Adelie    Torgersen 40.3           18.0          195
4   Adelie    Torgersen   NA             NA           NA
5   Adelie    Torgersen 36.7           19.3          193
6   Adelie    Torgersen 39.3           20.6          190
7   Adelie    Torgersen 38.9           17.8          181
8   Adelie    Torgersen 39.2           19.6          195
9   Adelie    Torgersen 34.1           18.1          193
10  Adelie    Torgersen 42.0           20.2          190
11  Adelie    Torgersen 37.8           17.1          186
12  Adelie    Torgersen 37.8           17.3          180
13  Adelie    Torgersen 41.1           17.6          182
14  Adelie    Torgersen 38.6           21.2          191
15  Adelie    Torgersen 34.6           21.1          198
16  Adelie    Torgersen 36.6           17.8          185
17  Adelie    Torgersen 38.7           19.0          195
18  Adelie    Torgersen 42.5           20.7          197
19  Adelie    Torgersen 34.4           18.4          184
20  Adelie    Torgersen 46.0           21.5          194
21  Adelie    Biscoe    37.8           18.3          174
22  Adelie    Biscoe    37.7           18.7          180
23  Adelie    Biscoe    35.9           19.2          189
24  Adelie    Biscoe    38.2           18.1          185
25  Adelie    Biscoe    38.8           17.2          180
26  Adelie    Biscoe    35.3           18.9          187
27  Adelie    Biscoe    40.6           18.6          183
28  Adelie    Biscoe    40.5           17.9          187
29  Adelie    Biscoe    37.9           18.6          172
30  Adelie    Biscoe    40.5           18.9          180
⋮   ⋮         ⋮         ⋮              ⋮             ⋮
315 Chinstrap Dream     46.9           16.6          192
316 Chinstrap Dream     53.5           19.9          205
317 Chinstrap Dream     49.0           19.5          210
318 Chinstrap Dream     46.2           17.5          187
319 Chinstrap Dream     50.9           19.1          196
320 Chinstrap Dream     45.5           17.0          196
321 Chinstrap Dream     50.9           17.9          196
322 Chinstrap Dream     50.8           18.5          201
323 Chinstrap Dream     50.1           17.9          190
324 Chinstrap Dream     49.0           19.6          212
325 Chinstrap Dream     51.5           18.7          187
326 Chinstrap Dream     49.8           17.3          198
327 Chinstrap Dream     48.1           16.4          199
328 Chinstrap Dream     51.4           19.0          201
329 Chinstrap Dream     45.7           17.3          193
330 Chinstrap Dream     50.7           19.7          203
331 Chinstrap Dream     42.5           17.3          187
332 Chinstrap Dream     52.2           18.8          197
333 Chinstrap Dream     45.2           16.6          191
334 Chinstrap Dream     49.3           19.9          203
335 Chinstrap Dream     50.2           18.8          202
336 Chinstrap Dream     45.6           19.4          194
337 Chinstrap Dream     51.9           19.5          206
338 Chinstrap Dream     46.8           16.5          189
339 Chinstrap Dream     45.7           17.0          195
340 Chinstrap Dream     55.8           19.8          207
341 Chinstrap Dream     43.5           18.1          202
342 Chinstrap Dream     49.6           18.2          193
343 Chinstrap Dream     50.8           19.0          210
344 Chinstrap Dream     50.2           18.7          198
    body_mass_g sex    year
1   3750        male   2007
2   3800        female 2007
3   3250        female 2007
4     NA        NA     2007
5   3450        female 2007
6   3650        male   2007
7   3625        female 2007
8   4675        male   2007
9   3475        NA     2007
10  4250        NA     2007
11  3300        NA     2007
12  3700        NA     2007
13  3200        female 2007
14  3800        male   2007
15  4400        male   2007
16  3700        female 2007
17  3450        female 2007
18  4500        male   2007
19  3325        female 2007
20  4200        male   2007
21  3400        female 2007
22  3600        male   2007
23  3800        female 2007
24  3950        male   2007
25  3800        male   2007
26  3800        female 2007
27  3550        male   2007
28  3200        female 2007
29  3150        female 2007
30  3950        male   2007
⋮   ⋮           ⋮      ⋮
315 2700        female 2008
316 4500        male   2008
317 3950        male   2008
318 3650        female 2008
319 3550        male   2008
320 3500        female 2008
321 3675        female 2009
322 4450        male   2009
323 3400        female 2009
324 4300        male   2009
325 3250        male   2009
326 3675        female 2009
327 3325        female 2009
328 3950        male   2009
329 3600        female 2009
330 4050        male   2009
331 3350        female 2009
332 3450        male   2009
333 3250        female 2009
334 4050        male   2009
335 3800        male   2009
336 3525        female 2009
337 3950        male   2009
338 3650        female 2009
339 3650        female 2009
340 4000        male   2009
341 3400        female 2009
342 3775        male   2009
343 4100        male   2009
344 3775        female 2009

In [3]:
penguins_summary <-  penguins %>%
    group_by(species) %>%  # 先对企鹅数据进行分组
    # summarise: 为分组后的数据进行汇总
    # na.rm=TRUE: 忽略缺失值
    # round: 将平均值四舍五入到小数点后1位
    summarise(bill=round(mean(bill_length_mm, na.rm=TRUE),digits=1), flipper=round(mean(flipper_length_mm, na.rm=TRUE),digits=1), weight=round(mean(body_mass_g, na.rm=TRUE),digits=1))
print(penguins_summary)

# A tibble: 3 × 4
  species    bill flipper weight
  <fct>     <dbl>   <dbl>  <dbl>
1 Adelie     38.8    190   3701.
2 Chinstrap  48.8    196.  3733.
3 Gentoo     47.5    217.  5076

In [4]:
penguins_summary_narrow <- penguins_summary %>%  # 将原本的 宽格式数据 转换为 窄格式数据
    # c(bill, flipper, weight): 选取需要转换的列
    # names_to='property': 将列名(bill, flipper, weight)放入新列 property 中
    # values_to='value': 将原来每一列对应的值放入新列 value 中
    pivot_longer(c(bill, flipper, weight), names_to='property', values_to='value')  # anti-intuitive
print(penguins_summary_narrow)

# A tibble: 9 × 3
  species   property  value
  <fct>     <chr>     <dbl>
1 Adelie    bill       38.8
2 Adelie    flipper   190
3 Adelie    weight   3701.
4 Chinstrap bill       48.8
5 Chinstrap flipper   196.
6 Chinstrap weight   3733.
7 Gentoo    bill       47.5
8 Gentoo    flipper   217.
9 Gentoo    weight   5076

In [5]:
penguins_summary_wide <- penguins_summary_narrow %>%
    pivot_wider(names_from = property, values_from = value)  # 转换为宽数据
print(penguins_summary_wide)

# A tibble: 3 × 4
  species    bill flipper weight
  <fct>     <dbl>   <dbl>  <dbl>
1 Adelie     38.8    190   3701.
2 Chinstrap  48.8    196.  3733.
3 Gentoo     47.5    217.  5076

In [6]:
penguins_summary_wide %>% 
    pivot_longer(c(bill, flipper, weight), names_to='property', values_to='value')

  species   property value
1 Adelie    bill       38.8
2 Adelie    flipper   190.0
3 Adelie    weight   3700.7
4 Chinstrap bill       48.8
5 Chinstrap flipper   195.8
6 Chinstrap weight   3733.1
7 Gentoo    bill       47.5
8 Gentoo    flipper   217.2
9 Gentoo    weight   5076.0

In [7]:
penguins_summary_wide %>% 
    pivot_longer(cols = !species, names_to='property', values_to='value')
# cols = !species: 选择除了species列以外的所有列进行转换

  species   property value
1 Adelie    bill       38.8
2 Adelie    flipper   190.0
3 Adelie    weight   3700.7
4 Chinstrap bill       48.8
5 Chinstrap flipper   195.8
6 Chinstrap weight   3733.1
7 Gentoo    bill       47.5
8 Gentoo    flipper   217.2
9 Gentoo    weight   5076.0

In [8]:
print(penguins_summary)

# A tibble: 3 × 4
  species    bill flipper weight
  <fct>     <dbl>   <dbl>  <dbl>
1 Adelie     38.8    190   3701.
2 Chinstrap  48.8    196.  3733.
3 Gentoo     47.5    217.  5076

In [9]:
uni_df <- penguins_summary %>% 
    unite(flipper_over_weight, flipper, weight, sep="/")
print(uni_df)

# A tibble: 3 × 3
  species    bill flipper_over_weight
  <fct>     <dbl> <chr>
1 Adelie     38.8 190/3700.7
2 Chinstrap  48.8 195.8/3733.1
3 Gentoo     47.5 217.2/5076

In [10]:
sep_df <- uni_df %>% 
    separate(flipper_over_weight, into=c("flipper", "weight"), sep="/")
print(sep_df)
# 默认情况下, separate函数保留列的数据类型(因此flipper和weight是字符列)

# A tibble: 3 × 4
  species    bill flipper weight
  <fct>     <dbl> <chr>   <chr>
1 Adelie     38.8 190     3700.7
2 Chinstrap  48.8 195.8   3733.1
3 Gentoo     47.5 217.2   5076

In [11]:
sep_df_double <- uni_df %>% 
    separate(flipper_over_weight, into=c("flipper", "weight"), sep="/", convert = TRUE)  # 拆分出来的数值会被自动转换为适当的类型
print(sep_df_double)

# A tibble: 3 × 4
  species    bill flipper weight
  <fct>     <dbl>   <dbl>  <dbl>
1 Adelie     38.8    190   3701.
2 Chinstrap  48.8    196.  3733.
3 Gentoo     47.5    217.  5076

In [12]:
musicians <- full_join(band_members, band_instruments)

Joining with `by = join_by(name)`

In [13]:
print(musicians)

# A tibble: 4 × 3
  name  band    plays
  <chr> <chr>   <chr>
1 Mick  Stones  NA
2 John  Beatles guitar
3 Paul  Beatles bass
4 Keith NA      guitar

In [14]:
musicians_nest <- musicians %>%
    group_by(name) %>%
    nest()
print(musicians_nest)

# A tibble: 4 × 2
# Groups:   name [4]
  name  data
  <chr> <list>
1 Mick  <tibble [1 × 2]>
2 John  <tibble [1 × 2]>
3 Paul  <tibble [1 × 2]>
4 Keith <tibble [1 × 2]>

In [15]:
print(filter(musicians_nest,name=='Mick')$data)

[[1]]
# A tibble: 1 × 2
  band   plays
  <chr>  <chr>
1 Stones NA

In [16]:
musicians_nest %>% 
  unnest(cols = data)

  name  band    plays
1 Mick  Stones  NA
2 John  Beatles guitar
3 Paul  Beatles bass
4 Keith NA      guitar

In [17]:
is_div_2_3 <- function(x) {
    if (x%%2==0 | x%%3==0){
        return (TRUE)
    } else {
        return (FALSE)
    }
}
v <- c(1,2,3,5,6)
map(v, is_div_2_3)

[[1]]
[1] FALSE

[[2]]
[1] TRUE

[[3]]
[1] TRUE

[[4]]
[1] FALSE

[[5]]
[1] TRUE

In [18]:
col_name <- 'body_mass_g'
df = penguins

# 从数据框 df 中提取名为 col_name (即 body_mass_g)的列, v_col 保存的是该列的数据
v_col <- select(df, all_of(col_name))
print(v_col)
# select_if(df, is.numeric) 先选择数据框中的所有数值型列
# select(-all_of(col_name)) 将指定的列从 df_num 中排除, 保留其他数值型列
df_num <- select_if(df, is.numeric) %>% select(-all_of(col_name)) 

# 定义了一个函数, 接受一个向量x, 并计算 x 和 v_col之间的相关性
# use='complete.obs' 用于忽略缺失值
cor_func <- function(x){ cor(x, v_col, use='complete.obs') } 

# 使用map()对 df_num 中的每一列去 应用相关性函数cor_func, 并返回相关性结果
# unlist()将返回的列表转换为普通向量
correlations <- unlist(map(df_num, cor_func)) 
print('the computed correlations are:'); print(correlations)

max_abs_cor_var <- names( which( abs(correlations)==max(abs(correlations))  ) )  # 哪个最大
cor_val <- as.double(correlations[max_abs_cor_var])  # 提取出来并转换为double类型
print('\ncolumn with maximal correlation:' ); print(max_abs_cor_var); print(cor_val)

# A tibble: 344 × 1
   body_mass_g
         <int>
 1        3750
 2        3800
 3        3250
 4          NA
 5        3450
 6        3650
 7        3625
 8        4675
 9        3475
10        4250
# ℹ 334 more rows
[1] "the computed correlations are:"
   bill_length_mm     bill_depth_mm flipper_length_mm              year
       0.59510982       -0.47191562        0.87120177        0.04220939
[1] "\ncolumn with maximal correlation:"
[1] "flipper_length_mm"
[1] 0.8712018

In [19]:
max_cor_var <- function(df, col_name) {
    v_col <- select(df, all_of(col_name))  # 提取由col_name指定的列
    df_num <- select_if(df, is.numeric) %>% select(-all_of(col_name))  # 不包含col_name数值型列的数据框df_num
    
    # 定义了一个函数, 接受一个向量x, 并计算 x 和 v_col之间的相关性
    # use='complete.obs' 用于忽略缺失值
    cor_func <- function(x){ cor(x, v_col, use='complete.obs') }

    # 使用map()对 df_num 中的每一列去 应用相关性函数cor_func, 并返回相关性结果
    # unlist()将返回的列表转换为普通向量
    correlations <- unlist(map(df_num, cor_func)) 

    max_abs_cor_var <- names( which( abs(correlations)==max(abs(correlations))  ) ) 
    cor_val <- as.double(correlations[max_abs_cor_var])
  
    return (data.frame(var_name=max_abs_cor_var, cor=cor_val)) # return as a data frame 
}

max_cor_var(penguins, "body_mass_g")

  var_name          cor
1 flipper_length_mm 0.8712018

In [20]:
cor_by_group <- penguins %>%
    group_by(species) %>%
    nest() %>%
    mutate(max_cor=map(data, function(x){max_cor_var(x, 'body_mass_g')}))  # 添加一列 max_cor, data是由nest()自动生成的

print(cor_by_group)

# A tibble: 3 × 3
# Groups:   species [3]
  species   data               max_cor
  <fct>     <list>             <list>
1 Adelie    <tibble [152 × 7]> <df [1 × 2]>
2 Gentoo    <tibble [124 × 7]> <df [1 × 2]>
3 Chinstrap <tibble [68 × 7]>  <df [1 × 2]>

In [21]:
select(cor_by_group, -data) %>%
    unnest(cols=max_cor)  # 拆cols

  species   var_name          cor
1 Adelie    bill_depth_mm     0.5761382
2 Gentoo    bill_depth_mm     0.7190850
3 Chinstrap flipper_length_mm 0.6415594

In [22]:
stocks <- tibble(
  year   = c(2015, 2015, 2015, 2015, 2016, 2016, 2016),
  qtr    = c(   1,    2,    3,    4,    2,    3,    4),
  return = c(1.88, 0.59, 0.35,   NA, 0.92, 0.17, 2.66)
)
print(stocks)

# A tibble: 7 × 3
   year   qtr return
  <dbl> <dbl>  <dbl>
1  2015     1   1.88
2  2015     2   0.59
3  2015     3   0.35
4  2015     4  NA
5  2016     2   0.92
6  2016     3   0.17
7  2016     4   2.66

In [23]:
complete(stocks, year, qtr)  # complete() 函数将隐性缺失数据显性化
# 将会根据 year 和 qtr 的所有可能组合, 生成一个包含所有组合的数据集

  year qtr return
1 2015 1   1.88
2 2015 2   0.59
3 2015 3   0.35
4 2015 4     NA
5 2016 1     NA
6 2016 2   0.92
7 2016 3   0.17
8 2016 4   2.66

In [24]:
complete.cases(stocks)

[1]  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE

In [25]:
filter(stocks, complete.cases(stocks))  # 通过布尔表达式筛选

  year qtr return
1 2015 1   1.88
2 2015 2   0.59
3 2015 3   0.35
4 2016 2   0.92
5 2016 3   0.17
6 2016 4   2.66

In [26]:
replace_by_mean <- function(x){
    mu <- mean(x, na.rm=TRUE) # 忽略缺失值, 计算平均数
  
    impute_f <- function(z){  # 如果z是缺失值, 用mu代替; 否则保持不变
        if (is.na(z)){
            return (mu)
        } else {
            return (z)
        }
    }
    # 使用purrr包中的map_dbl函数遍历向量 x 中的每一个元素 并对每个元素应用 impute_f 函数 (刚定义的)
    # map_dbl函数会返回一个 <<<"数值型向量">>> 其中缺失值被替换为了均值 其他非缺失值保持原样
    # map 会返回一个列表
    return (map_dbl(x, impute_f)) 
}

x <- c(1,2,NA,4)
replace_by_mean(x)

[1] 1.000000 2.000000 2.333333 4.000000

In [27]:
mutate(stocks, return=replace_by_mean(return))
# mutate()函数, 我们可以对数据框中的列进行修改

  year qtr return
1 2015 1   1.880
2 2015 2   0.590
3 2015 3   0.350
4 2015 4   1.095
5 2016 2   0.920
6 2016 3   0.170
7 2016 4   2.660